<article class="media" *ngIf="show">
  <figure class="media-left">
    <p class="image is-64x64">
      <img [src]="show.image.medium">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ show.name }}</strong>
        <br>
        <small><ng-container i18n="Premiered|Prefix for the premiere year@@premieredText">Premiered</ng-container>
          {{ show.premiered | date:'yyyy' }} at
          <em>{{ show.network.name }}</em></small>
      </p>
      <p [classList]="'rating is-' + (show.rating.average | rating)">
        <span>{{ show.rating.average }} - <span class="rating-text">{{ show.rating.average | rating }}</span></span>
      </p>
    </div>
  </div>
</article>
