<nav class="level">
  <div class="level-item">
    <div class="field has-addons">
      <p class="control">
        <input class="input" type="text" placeholder="Like 'Flash' or 'Big Bang'"
               i18n="Search query placeholder|Use examples of TV Series@@queryPlaceholder"
               i18n-placeholder #query>
      </p>
      <p class="control">
        <button class="button is-link" (click)="search()" i18n="Search|Shown on the search button@@searchText">Search</button>
      </p>
    </div>
  </div>
</nav>
